<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<script src="/socket.io/socket.io.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		  function guid() {
    function s4() {
      return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
  }
	</script>
	<script>
            var socket = io('http://localhost:3000');
            var roomId = "<%=roomId%>";
			//서버와 연결되면 호출된다.
			socket.on('connect', function(arg) {
				console.log('server connect !');
				socket.emit('joinRoom', {'roomId': roomId});

				socket.on('msgAlert', function(data) {
					alert(data);
				});

			socket.on('receive message', function(name, text, timeStamp) {
				var P_Tag = document.createElement('p');
				var msg = name + " " + text + "  " + timeStamp;
				if(name == $('#name').val()) {
					P_Tag.className = 'myMessage';
					msg = timeStamp + "  " + text;
				}

				P_Tag.appendChild(document.createTextNode(msg))
				document.getElementById('chatLog').appendChild(P_Tag);
				document.getElementById('chatLog').scrollTop = document.getElementById('chatLog').scrollHeight;
			});
			socket.on('change name', function(name) {
				$('#name').val(name);
			});
 
			//입장 알림 메시지
			socket.on('in message', function(msg) {
				var P_Tag = document.createElement('p');
				P_Tag.appendChild(document.createTextNode(msg))
				document.getElementById('chatLog').appendChild(P_Tag);
				document.getElementById('chatLog').scrollTop = document.getElementById('chatLog').scrollHeight;
			});

			//퇴장 알림 메시지
			socket.on('out message', function(msg) {
				var P_Tag = document.createElement('p');
				P_Tag.appendChild(document.createTextNode(msg))
				document.getElementById('chatLog').appendChild(P_Tag);
				document.getElementById('chatLog').scrollTop = document.getElementById('chatLog').scrollHeight;
			});  
        });

			function chat_submit() {
				socket.emit('send message', $('#name').val(), $('#message').val(), roomId);
				$('#message').val("");
				$("#message").focus();
				//e.preventDefault();
			}
			function rename_submit() {
				socket.emit('rename', $('#name').val(), roomId);
				//$('#message').val("");
				//$("#message").focus();
				//e.preventDefault();
			}
			function Enter_Check(){
				if(event.keyCode == 13){
					chat_submit();
					document.getElementById('message').value = "";
				}
            }
            
            //채팅방 나가기
            function leave_room( ) {
                socket.emit('leaveRoom', {'roomId': roomId});
                window.open('about:blank','_self').self.close();  // 창 닫기
            }
			</script>

<style>

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(178, 199, 217, 1);
	margin: 0;
	padding: 0;
}

.chatLog {
	max-width: 850px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 95vh;
	padding-bottom: 30px;
	overflow: scroll;
}

.chatLog > p {
	display: inline-block;
	padding: 15px;
	margin: 10px;
	background-color: rgba(255,255,255,1);
	border-radius: 10px;
	float: left;
	clear: both;
}

.chatLog > p.myMessage {
	background-color: rgba(255,235,51,1);
	float: right;
	clear: both;
}

.chatBox {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
}

.name {
	border: none;
	height: 30px;
	width: 10%;
	background: #ddd;
}

.message {
	border: none;
	height: 30px;
	width: 50%;
}

.chatBox button {
	width: 15%;
	border: none;
	padding: 5px;
	background: rgba(255,255,255,1);
}
</style>
</head>
<body>
        <h1><%=roomId%></h1>
        <button onclick="leave_room();"> 채팅방 나가기 </button>
		<div id="chatLog" class="chatLog">
				<p>김태준 : 매너 있는 채팅 부탁드립니다 :)</p>
				<!--<p class="myMessage">나 : 싫어</p>-->
			</div>
			<div class="chatBox">
					<input id="name" class="name" type="text">
					<button onclick="rename_submit();">닉네임 변경</button>
					<input id="message" onkeydown="JavaScript:Enter_Check();" class="message" type="text" autocomplete="off">
					<button onclick="chat_submit();">전송</button>
			</div>
</body>
</html>